
.shop-card {
    background: lightgray;
    border: 2px solid black;
}

.list-items__active {
    background-color: green;
}

.app-background {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(211, 211, 211, 1), rgba(211, 211, 211, 0));
    width: 100vw;
    height: 100vh;
}

.form-block-cover {
    width: 95%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding-bottom: 20px;
}

.form-block-cover button {
    display: block;
    margin: 25px auto;
}

.form-title {
    text-align: center;
    padding: 5px;
    background-color: goldenrod;
    color: black;
    font-size: 18px;
}

.form-footer {
    width: 100%;
    text-align: center;
    display: block;
}

.form-button {

}

.MuiButtonBase-root-8 {
    padding: 0;
}

.MuiButtonBase-root-8:hover {
    cursor: default;
}

.MuiButtonBase-root-8 span {
    cursor: pointer;
    padding: 10px;
    font-size: 16px !important;
}

.Navigation-root-1 {
    width: 100% !important;
}

.navigation-text {
    box-sizing: border-box;
    width: auto;
    min-width: 50px;
    margin: 25px 19px 0;
}

.admin-container {
    margin: auto;
    width: 93.75%;
    max-width: 1600px;
    margin-top: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.admin-second{
    justify-content: space-around;
    max-width: 1200px;
    width: 80%;
}

.cards-container {
    width: 80% !important;
}

.button-block {
    width: 20%;
    text-align: center;
    position: relative;
}

.button-item-cover {
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: rotate(-90deg) translate(-50%, -50%);
}

.user-balance-block {
    width: 40%;
    border: 3px solid black;
    padding: 20px   ;
}

.balance-form-item {
    display: flex;
    flex-wrap: nowrap !important;
}

.balance-form-item span {
    width: 90%;
    text-align: left;
    padding-top: 24px;
}

.balance-form-input {
    width: 60% !important;
}

.balance-form-input  input{
    text-align: right!important;
}

.balance-block-header{
    font-size: 20px;
    text-align: center;
    display: flex;
}

.balance-block-title {
    width: 50%;

}
.balance-block-title span{
    text-align: right;
}

.balance-block-footer{
    background-color: lightgray;
    height: 60px;
    text-align: right;
}

.balance-buttons{
    border: none;
    background: transparent;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

table{
    min-width: auto!important;
}

.form-order-block{
    display: flex;
    vertical-align: center;
    margin-top: 80px;
}

.form-order-block button{
    border: 2px solid black;
    height: 60px;
}